
/*--------------------------------------------------------------*/
/* [0] Global CSS STYLES
/*--------------------------------------------------------------*/
/* [0] imports
/* [1] Global Root Styles
/* [2] nav css
/* [3] interaction animation
/* [4] 
/* [5]
/* [6]
/* [7] Override Thirdparty Styles

/*--------------------------------------------------------------*/

/* musthave */
@import url(./elements/@root.css);
@import url(./elements/navbar.css);
@import url(./elements/text.css);
@import url(./elements/content.css);
/* addons */
@import url(./elements/dropinklassen.css);
@import url(./elements/button.css);
@import url(./elements/tabbars.css);
@import url(./elements/stream.css);
@import url(./elements/heroframe.css);



/*--------------------------------------------------------------*/
/* [7] Override Thirdparty Styles-------------------------------*/
/*--------------------------------------------------------------*/

.alertify-notifier {
  z-index: 99999 !important;
}