<content class="animated fadeIn faster">
  <herobanner>
    <heroimage class="halfheight floatcenter">
      <div class="img-gradient"><img class="lazy" src="./images/events.PNG" class="img-gradient"></div>
      <div style="z-index:9;">
        <h1 class="herobannerH1 animated fadeIn faster " style="">Events</h1>

      </div>
    </heroimage>

  </herobanner>

  <div>
    <h2> Upcoming Events</h2>
  </div>
  <kacheln>
    <kachel>
      <events>
        <UpcomingEvents>
          <event>
            <img class="lazy" src="images/events.PNG" width="100%">
            <datum>01.05.20</datum>
            <game>WOW</game>
            <h1>Event 1</h1>
            <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat,
            </p>
          </event>
        </UpcomingEvents>
      </events>
    </kachel>


    <kachel>
      <events>
        <UpcomingEvents>
          <event>
            <img class="lazy" src="images/events.PNG" width="100%">
            <datum>01.05.20</datum>
            <game>Forza</game>
            <h1>Eventeros 2</h1>
            <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et
            </p>
          </event>
        </UpcomingEvents>
      </events>
    </kachel>


    <kachel>
      <events>
        <UpcomingEvents>
          <event>
            <img class="lazy" src="images/events.PNG" width="100%">
            <datum>01.05.20</datum>
            <game>CSGO</game>
            <h1>Event 3</h1>
            <p> Lorem ipsum dolor sit amet, L Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
              dolor sit amet, Lorem ipsum dolor sit amet,
            </p>
          </event>
        </UpcomingEvents>
      </events>
    </kachel>

  </kacheln>
</content>
<content>

  <fliestext>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
    kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
    kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
    kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
    kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet.

  </fliestext>
</content>

<!--Content----------------------->