<content>
  <herobanner>
    <heroimage class="halfheight floatcenter ">
      <div class="img-gradient "><img class="lazy" src="./images/events.PNG"
          class="img-gradient animated fadeIn faster"></div>
      <div style="">
        <h1 class="herobannerH1 animated fadeIn faster " style="">Join the Group</h1>

      </div>
    </heroimage>

  </herobanner>


</content>

<content class="front999">

  <kacheln>
    <kachel class="three-column floatcenter">
      <img class="lazy" src="./images/svg/Steam.svg" width="70px">
      <h2 class="desktop">Steam</h2>
      <button class="hover button buttoncolored" style="background-color: #00adee;"><a
          href="https://steamcommunity.com/groups/BladeBrothers" ref="noreferer" target="_blank">Beitreten</a></button>
    </kachel>

    <kachel class="three-column floatcenter">
      <img class="lazy" src="./images/svg/discord.svg" width="70px">
      <h2 class="desktop"> Discord</h2>
      <button class="hover button buttoncolored" style="background-color: #7289DA;"><a href="" ref="noreferer"
          target="_blank">Beitreten</a></button>
    </kachel>

    <kachel class="three-column floatcenter">
      <img class="lazy" src="./images/svg/TS_Stacked_BlueBlack_CMYK.svg" width="70px">
      <h2 class="desktop">Teamspeak</h2>
      <button class="hover button buttoncolored " style="background-color: #2580c3;"><a href="" ref="noreferer"
          target="_blank" onclick="copyToClipboard('tsip','TS IP Copied')">Beitreten</a></button>
    </kachel>
  </kacheln>
</content>

<!-- Community Support-->
<content>
  <h2 class="frontpageh2 floatcenter" style="margin:5%;">Community Support</h2>

  <content>
    <div>
      <kachel class="three-right-column">
        <h3 class="aligncenter">IP</h3>
        <h3 class="aligncenter">Game </h3>
        <h3 class="aligncenter">Status</h3>
      </kachel>
    </div>
  </content>


  <kacheln>
    <kachel class="three-right-column">
      <h3 class="aligncenter">csgo1.bladebrothers.de</h3>
      <ul>
        <img class="lazy" alt="bladebrosgames" src="images/svg/csgo.svg" width="50px">
        <p> 12.3</p>
      </ul>
      <button class="button buttontransparent"
        style="color: var(--txt-light); background-color: green; border: 2px solid green;">Online</button>
    </kachel>
  </kacheln>


  <kacheln>
    <kachel class="three-right-column">
      <h3 class="aligncenter">wow.bladebrothers.de</h3>
      <ul>
        <img class="lazy" alt="bladebrosgames" src="images/svg/wow.svg" width="50px">
        <p>Asgard Server</p>
      </ul>
      <button class="button " style="color: var(--txt-light);  border: 2px solid red;">offline</button>
    </kachel>
  </kacheln>


</content>


<!-- Community Support-->
<content>
  <h2 class="frontpageh2 floatcenter" style="margin:5%;">Community Support</h2>

  <content>
    <div>
      <kachel class="three-right-column">
        <h3 class="aligncenter">Name</h3>
        <h3 class="aligncenter">Games </h3>
        <h3 class="aligncenter">Status</h3>
      </kachel>
    </div>
  </content>

  <kacheln>
    <kachel class="three-right-column">
      <h3 class="aligncenter">Kantalupi</h3>
      <ol>
        <img class="lazy" alt="Admin" src="images/svg/bblogored.png" width="50px">
        <img class="lazy" alt="bladebrosgames" src="images/svg/csgo.svg" width="50px">

      </ol>
      <button class="button buttontransparent">Organisation</button>
    </kachel>
  </kacheln>

  <kacheln>
    <kachel class="three-right-column">
      <h3 class="aligncenter">Meddon</h3>
      <ol>
        <img class="lazy" alt="" src="images/svg/bblogored.png" width="50px">
        <img class="lazy" alt="bladebrosgames" src="images/svg/csgo.svg" width="50px">
        <img class="lazy" alt="bladebrosgames" src="images/svg/bell.svg" width="50px">
      </ol>
      <button class="button buttontransparent"
        style="color: var(--txt-light); background-color: green; border: 2px solid green; ">Development</button>
    </kachel>
  </kacheln>

  <kacheln>
    <kachel class="three-right-column">
      <h3 class="aligncenter">Energizer</h3>
      <ol>
        <img class="lazy" alt="bladebrosgames" src="images/svg/csgo.svg" width="50px">
      </ol>
      <button class="button buttontransparent"
        style="color: var(--txt-light); background-color: green; border: 2px solid green; ">community </button>
    </kachel>
  </kacheln>

  <kacheln>
    <kachel class="three-right-column">
      <h3 class="aligncenter">Mutti</h3>
      <ol>
        <img class="lazy" alt="bladebrosgames" src="images/svg/csgo.svg" width="50px">
      </ol>
      <button class="button buttontransparent"
        style="color: var(--txt-light); background-color: green; border: 2px solid green; ">ist auch dabei </button>
    </kachel>
  </kacheln>



</content>
<!--   Mögliche mitspieler-->
<content>
  <h2 class="frontpageh2 floatcenter" style="margin:5%;">An wen du dich, für welches Game wenden kannst</h2>
  <kacheln>
    <kachel class="two-column">
      <h3>Bizor</h3>
      <ol>
        <img class="lazy" alt="bladebrosgames" src="images/svg/csgo.svg" width="50px">
        <img class="lazy" alt="bladebrosgames" src="images/svg/wow.svg" width="50px">
      </ol>
    </kachel>
  </kacheln>

  <kacheln>
    <kachel class="three-column">
      <h3 class="aligncenter">Kantalupi</h3>
      <ol>
        <img class="lazy" alt="Admin" src="images/svg/bblogored.png" width="50px">
        <img class="lazy" alt="bladebrosgames" src="images/svg/csgo.svg" width="50px">
        <img class="lazy" alt="bladebrosgames" src="images/svg/wow.svg" width="50px">
      </ol>
      <button class="button buttontransparent">Online</button>
    </kachel>
  </kacheln>

  <kacheln>
    <kachel class="three-column">
      <h3 class="aligncenter">Meddon</h3>
      <ol>
        <img class="lazy" alt="" src="images/svg/bblogored.png" width="50px">
        <img class="lazy" alt="bladebrosgames" src="images/svg/csgo.svg" width="50px">
        <img class="lazy" alt="bladebrosgames" src="images/svg/wow.svg" width="50px">
        <img class="lazy" alt="bladebrosgames" src="images/svg/bell.svg" width="50px">
      </ol>
      <button class="button buttontransparent"
        style="color: var(--txt-light); background-color: green; border: 2px solid green; ">Online</button>
    </kachel>
  </kacheln>

  <kacheln>
    <kachel class="three-column">
      <h3 class="aligncenter">Energizer</h3>
      <ol>
        <img class="lazy" alt="bladebrosgames" src="images/svg/csgo.svg" width="50px">
      </ol>
      <button class="button buttontransparent"
        style="color: var(--txt-light); background-color: green; border: 2px solid green; ">Online</button>
    </kachel>
  </kacheln>
</content>