<h1>You passed a variable : {{output}}</h1>

<p> Try it with this Form:</p>
<form action="/test/submit" method="post">
    <input type="text" name="id">
    <button type="submit">submit</button>
</form>