<content class="animated fadeIn faster">
  <herobanner>
    <heroimage class="halfheight floatcenter">
      <div class="img-gradient"><img src="./images/devicesillustration.PNG" class="img-gradient"></div>
      <div style="z-index:9;">
        <h1 class="herobannerH1 animated fadeIn faster " style="">Umfragen</h1>

      </div>
    </heroimage>

  </herobanner>

  <div>
    <h2> Derzeitige Umfrage</h2>
  </div>


  <kacheln>
    <content>
      <fliestext>
        <h3>TS oder nicht TS, das ist hier die Frage</h3>
        <p style="text-align: end; padding-bottom: 1em;">-William Shakespear oder so</p>
        <div>em ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
          sea takimata sanctus est Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
          sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>

      </fliestext>
    </content>

    <div>
      <iframe src="https://www.strawpoll.me/embed_1/19830969"
        style="width:100%; border:none; min-height: 500px;">Loading poll...</iframe>
    </div>

  </kacheln>
  <br><br><br><br><br>
  <kacheln>
    <content>
      <fliestext>
        <div class="pro">
          <h3 style="color:green;">Pro</h3>
          <hr>
          <br>
          <ol>
            <li>
              <h4>Argument</h4>
              <p> argumentation um dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor i</p>
            </li>
            <br>
            <li>
              <h4>Argument</h4>
              <p> argumentation um dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor ium
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor i</p>
            </li>
            <br>
            <li>
              <h4>Argument</h4>
              <p> argumentation um dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor i</p>
            </li>
            <br>
            <li>
              <h4>Argument</h4>
              <p> argumentation um dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor i</p>
            </li>
          </ol>
        </div>
      </fliestext>
    </content>


    <content>
      <fliestext>
        <div class="contra">
          <h3 style="color:red;">Contra</h3>
          <hr>
          <br>
          <ol>
            <li>
              <h4>Argument</h4>
              <p> argumentation um dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor i</p>
            </li>
            <br>
            <li>
              <h4>Argument</h4>
              <p> argumentation um dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor ium
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor i</p>
            </li>
            <br>
            <li>
              <h4>Argument</h4>
              <p> argumentation um dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor i</p>
            </li>
            <br>
            <li>
              <h4>Argument</h4>
              <p> argumentation um dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor i</p>
            </li>
          </ol>
        </div>
      </fliestext>
    </content>
    </fliestext>
</content>