<!--FOOTER AREA-------------------------------->        

<nav class="footer">
    <a href="./impressum.html" >Impressum</a>
    <button class="button buttontransparent" style="position: relative; max-width: 25%;"><a class="floatcenter" href="https://github.com/PatricJacob/bbw2020/issues" rel="_noreferer" target="_blank">Report a Bug</a> </button>
    
    <ul>
        <li class="" onclick="copyToClipboard('tsip')"> <a href="#"> <img alt="bladebros"
            src="./images/svg/TS_Stacked_BlueBlack_CMYK.svg" / class="nav-icon" ;></a></li>
            
            <li class=""> <a href="#"> <img alt="bladebros" src="./images/svg/discord.svg" / class="nav-icon" ;></a>
            </li>
            <li> <a href="#"> <img alt="bladebros" src="./images/svg/youtube.svg" / class="nav-icon" ;></a></li>
            <li> <a href="#"> <img alt="bladebros" src="./images/svg/twitch.svg" / class="nav-icon" ;></a></li>
            
            <!--  <li> <a href="#">ESL</a></li>
                <li> <a href="#"> <img src="./images/svg/facebook.svg"/ class="nav-icon";></a></li> 
                <li> <a href="#"> <img src="./images/svg/twitter.svg"/ class="nav-icon";></a></<li>
                    <li> <a href="#">😊</a></li> 
                    <li class="denied"> <a href="#"> <img src="./images/svg/bell.svg"/ class="nav-icon "; style="filter:grayscale(100%);"></a></li> -->
                </ul>
                
            </nav>
<!--IMPORTS-------------------->
<script src="js/menu.js"></script>
<!--HIDDEN VALUES-------------->
<!--copy to clipboard ts -->
<input class="offscreen" id="tsip" value="46.20.46.88:10062" type="text">