<content>
    <nav class="frontpagenav nimated fadeIn faster" style="z-index: 999999;">
        <logo>
            <a href="./index"><img alt="bladebros" src="./images/svg/bblogo.png" class="animated tada delay-2s ">
                <h2>BladeBrothers</h2>
            </a>
        </logo>
        <ul>
            <li class="" onclick="copyToClipboard('tsip','TS IP Copied')"> <a href="#"> <img alt="bladebros"
                        src="./images/svg/TS_Stacked_BlueBlack_CMYK.svg" / class="nav-icon hover" ;></a></li>
            <li class=""> <a href="#"> <img alt="bladebros" src="./images/svg/discord.svg" / class="nav-icon hover"
                        ;></a></li>
            <li> <a href="#"> <img alt="bladebros" src="./images/svg/youtube.svg" / class="nav-icon hover" ;></a></li>
            <li> <a href="#"> <img alt="bladebros" src="./images/svg/twitch.svg" / class="nav-icon hover" ;></a></li>
            <li class="denied"> <a href="#"> <img alt="bladebros" src="./images/svg/bell.svg" / class="nav-icon hover "
                        ; style="filter:grayscale(100%);"></a></li>
            <!-- <li class="desktop"><a>&ensp;lelololo&nbsp;&nbsp; </a></li> -->

            <li>
                <input type="checkbox" id="dd" onclick="rotate('rotateme')" hidden>
                <a>
                    <label for="dd" class="menu">
                        <img alt="bladebros" src="./images/svg/chevron.svg" / id="rotateme" class="nav-icon rotateable"
                            ; style="filter:invert(); padding-top: 7px;">
                    </label>
                </a>
                </input>

                <ul class="dropdown animated fadeInRight faster">
                    <li> <a href="#"> <img alt="bladebros" src="./images/svg/facebook.svg" / class="nav-icon" ;
                                width="30px"></a></li>
                    <li> <a href="#"> <img alt="bladebros" src="./images/svg/twitter.svg" / class="nav-icon" ;
                                width="30px"></a></li>
                    <li> <a href="#"> <img alt="bladebros" src="./images/svg/bell.svg" / class="nav-icon" ; width="30px"
                                style="filter:grayscale(100%);">Updates</a></li>
                    <li> <a href="./umfragen">Umfragen</a></li>
                    <li> <a href="./streams">Streams</a></li>
                    <li> <a href="./events">Events</a></li>
                    <li> <a href="./blank">blank</a></li>
                    <!-- <li> <a href="#">😊</a></li> -->
                    <li> <a href="./impressum">Impressum</a></li>

                </ul>

            </li>

        </ul>
        <button class="button buttoncolored round hover desktop" style="top:; position: relative;"><a
                href="./join">Join</a></button>

    </nav>

    <!--IMPORTS-------------------->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/menu.js"></script>
    <!--HIDDEN VALUES-------------->
    <!--copy to clipboard ts -->
    <input class="offscreen" id="tsip" value="46.20.46.88:10062" type="text">
</content>