

/*--------------------------------------------------------------*/
/* [3] Livestream - Creator Icons Startpage style
/*--------------------------------------------------------------*/
#live {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    padding: 5%;
    align-items: center;
    color: var(--txt-light);
    background-repeat: none;
}

/*--------------------------------------------------------------*/
/* [3] Livestream - Creator Icons
/*--------------------------------------------------------------*/
.liveicon {                                             /* liveicon baseclass*/
    width: calc(var(--nav-size)/3);
    height: calc(var(--nav-size)/3);
    position: relative;float: left;
    border-radius: 100%;
    top: 0px;
  }
  .streamlistitem.offline .liveicon { background-color: red;}              /* liveicon subclass*/
  .streamlistitem.online .liveicon { background-color: var(--online-green);} /* liveicon subclass*/
  
  .streamlistitem {
    width: 100%;
  }
  
  .vertical-scrollmenu {
    display: grid;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
  }
.streamlistitem {
    display: inline-block;
    color: var(--txt-light);
    text-align: center;
  }
  
  .circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
  

.streamcontent {
    display: contents;
  }
  
  .twitch-player iframe {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius); /*kacheln similiar border radius style*/
    margin-top: var(--border-spacing); /*align fix mit kacheln*/
    
  }
  

  /* [3] Livestream - Creator Icons
/*--------------------------------------------------------------*/
.creator {
    align-content: center;
    justify-content: center;
    text-align: center;
    background-repeat: none;
    max-height: cal(var(--nav-size)*2) ;
    max-width: cal(var(--nav-size)*2);
    padding: 5%;
    padding-bottom: -10px;
    transition: 200ms;
    margin-bottom: -10px;
    border: var(--border);
}

.creator:hover { background-color: var(--bg); border: 1px solid var(--txt-dark); opacity: 1.4; }
.creator>a:hover { filter: opacity(1.4);}
.creator>a>img {border-radius: 100%; margin-bottom: -0px;}
.creator>a { text-decoration: none; color: var(--txt-light);    transition: filter 300ms;}
.creator>a>h3 { font-size: 2em; margin: 0; }