/* [1] Tabbars
/*--------------------------------------------------------------*/

/* Style the tab */
.tab {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  min-height: var(--nav-size);
  border-bottom: 1px solid var(--halfwhite);
  grid-gap: 2px;
}
@media screen and (max-width: 800px) {
  grid-template-columns: repeat(auto-fit, minmax(100%, min-content));
}

/* .tab {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, min-content));
    grid-template-rows: repeat(auto-fit, minmax(200px, min-content));
    min-height: var(--nav-size);
    border-bottom: 1px solid var(--halfwhite);
  } */

/* Style the buttons that are used to open the tab content */
.tab button,
.tab li button {
  border: none;
  cursor: pointer;
  transition: 0.3s;
  max-height: var(--nav-size);
  min-height: var(--nav-size);
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover,
.tab li button:hover {
  color: var(--txt-light);
  background-color: var(--bg);
  filter: contrast(110%);
}

/* Create an active/current tablink class */
.tab button:active,
.tab button:focus,
.tab li button:active,
.tab li button:focus,
.tab li button:-moz-focusring {
  outline: none;
  border-color: var(--txt-light);
  border-radius: 4px 4px 0px 0px;
  border-bottom: none;
  background-color: var(--bg);
  color: var(--txt-light);
  filter: contrast(110%);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 5%;
}
